{% extends "homepage/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>物掌柜</h1>
    <p class="lead">物掌柜介绍</p>
    <p><a href="https://www.wuzhanggui.shop/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>优势特点1</h2>
        <p>
            突出特点介绍
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>优势特点2</h2>
        <p>突出特点介绍</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>优势特点3</h2>
        <p>突出特点介绍</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
