<!DOCTYPE html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>物掌柜库存管理</title>
</head>

<body>
    {% verbatim %}
    <div id='app'>
        <el-container style="height: 800px; border: 3px solid #eee">
            <el-header style="background-color: beige;">
                <h1>物掌柜库存管理系统-入库管理</h1>
            </el-header>
            <el-container>
                <el-aside style="width: 300px; border: 3px solid #eee">
					<el-button type="danger" round icon="el-icon-error" @click="logout">登出</el-button>
                    <el-input placeholder="请输入商品条形码" prefix-icon="el-icon-search" type="number" v-model="barcode"></el-input>
                    <ul v-if="show">
                        <li>名称：{{merchandise.name}}</li>
                        <li>商品码：{{merchandise.code}}</li>
                        <li>规格：{{merchandise.scale}}</li>
                        <li>口味：{{merchandise.flavor}}</li>
                        <li>库存：{{merchandise.stock}}</li>
                        <li>标签：{{merchandise.stockWithTag}}</li>
                    </ul>
                </el-aside>

                <el-main style="border: 3px solid #eee">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
                        <el-form-item label="进货价" prop="instockPrice">
                            <el-input type="number" step="0.01" v-model="ruleForm.instockPrice"></el-input>
                        </el-form-item>
                        <el-form-item label="零售价" prop="retailPrice">
                        	<el-input type="number" step="0.01" v-model="ruleForm.retailPrice"></el-input>
                        </el-form-item>
						<el-form-item label="身份验证码" prop="password">
							<el-input v-model="ruleForm.password"></el-input>
						</el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                            <el-button @click="resetForm('ruleForm')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </el-main>
            </el-container>

        </el-container>
    </div>
    {% endverbatim %}


</body>

</html>

<script>
    var url_online = 'https://www.wuzhanggui.shop/'
    var url_local = 'http://127.0.0.1:8000/'
    var token_online = 'Token d823a019b66581cf574c72cc43d77b2131de7f2b'
    var token_local = 'Token 3a999c94a027364d8fc300a59db53623c5f9bb61'
    var app = new Vue({
        el: "#app",
        data: {
            barcode: '',
            merchandise: {},
            show: false,
			ruleForm: {
			  instockPrice: '',
			  retailPrice: '',
			  password: '',
			},
			rules: {
			  instockPrice: [
				{ required: true, message: '请输入进货价', trigger: 'blur' },
			  ],
			  retailPrice: [
				{ required: true, message: '请输入零售价', trigger: 'blur' },
			  ],
			  password: [
				{ required: true, message: '请输入授权码', trigger: 'blur' }
			  ],
			}
        },
        watch: {
            barcode: function (val) {
                var that = this
								var url = url_online + 'api/merchandise/detailInventory/'
								console.log(url)
                axios.request({
                        method: "POST",
                        url: url,
                        data: {
                            barcode: this.barcode,
                        },
                        headers: {
                            'Authorization': token_online,
                            'content-type': 'application/json'
                        },
                    })
                    .then(function (res) {
                        if (res.status === 200) {
                            console.log(res)
                            that.show = true
                            that.merchandise = res.data
                        } else {
                            that.show = false
                            that.merchandise = {}
                        }

                    });
            }
        },
		methods:{
			submitForm(formName) {
				this.$refs[formName].validate((valid) => {
				  if (valid) {
					var that = this
					  axios.request({
								method: "POST",
								url: url_online + 'api/inventory/edit/',
								data: {
										barcode: that.barcode,
										instockPrice: that.ruleForm.instockPrice,
										retailPrice: that.ruleForm.retailPrice,
										password: that.ruleForm.password,
								},
								headers: {
										'Authorization': token_online,
										'content-type': 'application/json'
								},
						})
					  .then(function (res) {
								if (res.status === 201) {
										console.log(res)
										that.resetForm(formName)
										that.show = false
										that.$message({
										message: '价格更新成功',
										type: 'success'
									});
								} else if (res.status === 204){
											that.$message({
											message: '没有操作权限',
											type: 'error'
										});
										that.merchandise = {}
								}

						});
				  } else {
					console.log('error submit!!');
					return false;
				  }
				});
			  },
			  resetForm(formName) {
					this.$refs[formName].resetFields();
			  },
			  logout(){
			  	window.location.href = '../logout/'
			  }
		}
    })
</script>
